// header color

 $HEADER_BACKGROUND_COLOR :  rgba(38,56,82,255);
 $HEADER_BUTTON : #73b7c3;
$HEADER_BUTTON_HOVER: white;

// footer color

$FOOTER_BACKGROUND_COLOR: rgba(38,56,82,255);
$h4_COLOR: #73b7c3;
$p_COLOR: white;
$SPAN_COLOR: #959e3b ;
$a_COLOR: #959e3b ;