#footer {
width: 100%;
height: auto;
background-color:#b5b8bbe3;
display: block;
}

.footer-top {
    width: 100%;
    /* Height:300px; */
    display:flex;
}

.footer_div {
    width:33%;
    height:inherit ;
    padding: .5vw 3vw;
    text-align: left;
    align-items: flex-start;
}
#h4 {
 
    color: #73b7c3;
    font-weight:700;
}
#p {
    color: white;
    font-size: 15px;
    margin: 0 0 3px 0;
}

#span {
    color:#959e3b; 
    font-size: 14px;
    margin: 0 0 2px 0;
    font-weight:600;
    display: block;
}

#footer_bottom {
    width: 100%;
    height: auto;
    padding: 0 3vw;
    display: flex;
}

#data {
    width: 60%;
    height: inherit;
    padding-top: 30px;
}

.golde_color {
   width: 40%;
   height:inherit;
   text-align:right;
}
