.section234 {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    margin :1.5%;
}

.foto-section2 {
    width: 30%;
    height: inherit;
    overflow: auto;  
    
    display: flex;
   justify-content: center;
   align-items: center;
   
}

.img_section2 {
    width: 100%;
}

.text_section2 {
    width: 60%;
    padding: 2.5rem;
    height: inherit;
}
 h2 {
    font-size: 3vw;
    text-align: center;
    align-items: center;
    color: #959e3b;
}

 .text_section2 P {
    padding: 0 2rem;
    font-size:1em;
    text-align:center;
    align-items: center;  
    color: rgb(90, 90, 90);;  
}

#black {
    color:black;
}

@media screen and (max-width: 966px) {
    .section234 {
      flex-wrap: wrap;
    }

    .foto-section2 {
        width: 40%;
        padding: 0 10px;
        
    }
    .text_section2 {
        width: 60%;
        padding: 0;
    }
}

@media (max-width: 500px) {
    .foto-section2 {
        width: 100%;
        padding: 0 10px;
        
    }
    .text_section2 {
        width: 100%;
        padding: 0;
    }
    
    .img_section2 {
     display: none;
    }
}