.section1 {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}
#Welcome_portal_button, #Welcome_portal_foto {
    display:inline-block;
    width: 50%;
}

#Welcome_portal_button{
    padding-left: 3vw; 
    /* border: 2px solid blue; */
}

#welcome_portal, #button {
    width: 100%;
    align-items: center;
    overflow: auto;
    text-align: left;
    align-items: center;
    /* border: solid 2px paleturquoise; */
}

h1 {
    width: inherit;
    font-size: 4.5vw;
    color: #73b7c3;
}

#Welcome_portal_foto img {
    margin: 5px auto;
    width:85%;
}

.section1_button {
    width: 80%;
    height: 50px;
    border: solid 1px rgba(128, 128, 128, 0.801);
    text-align: center;
    align-items: center;
    padding: 3px 0;
    /* font-size: 2vw; */
    border-radius: 5px;
    margin: 30px 0;
}

.section1_button:hover {
    box-shadow: -2px 5px 6px rgba(187, 187, 183, 0.651), 2px 5px 6px rgba(187, 187, 183, 0.651);
}
.section1_button a {
    color: grey;
    font-size: 2.5vw;
}

#Welcome_portal_foto {
    overflow:auto;  
    text-align: center;
    align-items: center;

}

@media (max-width: 685px) {
    #Welcome_portal_foto {
        width: 40%;
    }

    #Welcome_portal_button {
        width: 60%;
        padding: 3vw ;
        /* overflow:inherit;   */
    }
    .section1_button {
        width: 100%;
    }

    .section1_button a {
        font-size: 20px;
    }
    h1 {
        height: 10vw;
    }

}

@media (max-width: 500px) {
    #Welcome_portal_foto {
       display: block;
       width: 100%;
       height:100px; 
       background-image:url(./../cover.jpg); 
       background-attachment:fixed;
       background-size: 110%;
       background-repeat: no-repeat;
    }
    #Welcome_portal_foto img {
        display: none;
    }
    #Welcome_portal_button {
       display: block;
       width: 100%;    
       overflow:inherit;  
    }
}